@model JorgeRamos_ExamenProgreso_1.Models.Recompensas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Recompensas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PuntosAcumulados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PuntosAcumulados)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@Model?.RecompensaId">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>

</div>
